@media screen and (max-width: 1000px) {
  .content .container {
    width: 90%;
  }

  footer .container {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .content .container {
    width: 100%;
  }

  footer .container {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .main .entry h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 770px) {
  .content .container .article3 .text .gold p {
    letter-spacing: 4px;
  }

  .content .container > br:nth-child(1),
  .content .container > br:nth-child(2),
  .content .container > br:nth-child(3),
  .content .container > br:nth-child(11),
  .content .container > br:nth-child(12),
  .content .container > br:nth-child(13) {
    display: none;
  }

  .content .container .article1 img,
  .content .container .article2 img,
  .content .container .article3 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: brightness(70%);
  }

  .content .container .article1 .text,
  .content .container .article2 .text,
  .content .container .article3 .text {
    width: 90%;
    position: absolute;
    top: 25%;
    left: 5%;
  }

  .content .container .article1 .num,
  .content .container .article2 .num,
  .content .container .article3 .num {
    top: -5%;
    z-index: 3;
    color: white;
    left: 33%;
  }

  .content .container .article1,
  .content .container .article2,
  .content .container .article3 {
    justify-content: center;
  }
}

@media screen and (max-width: 670px) {
  header {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 600px) {
  header > nav {
    display: none;
  }

  header .menu_mobile {
    display: block;
  }
}

@media screen and (max-width: 520px) {
  .main .entry {
    margin-bottom: 180px;
  }

  .main .entry h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 460px) {
  .content .container .article1 img,
  .content .container .article2 img,
  .content .container .article3 img {
    height: 600px;
  }
}

@media screen and (max-width: 450px) {
  .content .container .article1 .num {
    left: 23%;
  }

  .content .container .article2 .num,
  .content .container .article3 .num {
    left: 23%;
  }
}

@media screen and (max-width: 400px) {
  .content .container .article1 .num {
    left: 23%;
    top: 10px;
  }

  .content .container .article2 .num,
  .content .container .article3 .num {
    left: 20%;
  }
}
